body{
    background-color: rgb(95, 156, 247);
    margin: 0;
}

#header{
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    height: 100%;
    margin: 15px;

}

.container > div:nth-child(1) {
    flex: 1;
}

.container > div:nth-child(2) {
    flex: 1;
}

img{
    height: 400px;
    width: 450px;
}

